<app-nav-bar></app-nav-bar>
<div style="display: flex;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="updatedUser.username"
            placeholder="Username"
            type="text"
            value="{{ user.username }}"
            name="username"
            required
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="updatedUser.password"
            type = "password"
            placeholder="Password"
            name="password"
            required
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="updatedUser.email"
            type = "email"
            value="{{ user.email}}"
            placeholder="Email"
            name="email"
            required
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="updatedUser.birthDate"
            type = "date"
            value="{{ user.birthDate | date:'yyyy-MM-dd':'UTC+0' }}"
            placeholder="Birthday"
            name="birthDate"
          >
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        (click)="updateUserData()"
        color="primary"
      >
        Update Profile
      </button>
      <button
        mat-raised-button
        (click)="deleteUser()"
        color="warn"
      >
        Delete Account
      </button>
    </mat-card-actions>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Favorite Movies</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
          <mat-card-header>
          <mat-card-title>{{movie.Title}}</mat-card-title>
          <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.imageURL}} alt={{movie.Title}} width="200" />
        </mat-card>
      </mat-card-content>
    </mat-card>

    
    
    <!--<mat-card-header *ngFor="isFavorite(movie._id);" style="flex: 1 1 auto;">
      <mat-card-title>Fovorite Movies</mat-card-title>
    </mat-card-header>-->
    
  </mat-card>
</div>